<h1>Listing hasinis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hasinis.each do |hasini| %>
  <tr>
    <td><%= hasini.name %></td>
    <td><%= hasini.content %></td>
    <td><%= link_to 'Show', hasini %></td>
    <td><%= link_to 'Edit', edit_hasini_path(hasini) %></td>
    <td><%= link_to 'Destroy', hasini, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hasini', new_hasini_path %>
