<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hasini.name %>
</p>

<p>
  <b>Content:</b>
  <%= @hasini.content %>
</p>


<%= link_to 'Edit', edit_hasini_path(@hasini) %> |
<%= link_to 'Back', hasinis_path %>
